@media screen and (min-width: 992px){
    .template{
        padding: calc(5rem + 7rem) 5rem 5rem calc(5rem + 7rem);
        height: 100vh;
        background: lightblue;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
    
        .mainPart{
            display: flex;
            width: fit-content;
        }
    
        .profilePic, .spacer{
            width: 50%;
            display: flex;
            justify-content: end;
    
            .profile{
                background-image: url(../img/profilePic.jpg);
            }
    
            .other{
                background-image: url(../img/profile.png);
                background-position: center center;
            }
    
            div{
                width: 20em;
                height: 20em;
                border-radius: 50%;
                border-bottom-right-radius: 0;
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 150%;
                border: 10px solid lightblue;
                outline: 3px solid #1b1b1b;
                display: flex;
                justify-content: center;
                align-items: center;
    
                i{
                    font-size: 10em;
                    color: #1b1b1b;
                    -webkit-text-stroke: 10px lightblue;
                }
                
            }
        }
    
        .desc{
            width: 60em;
            margin: 0 20rem 0 5rem;
    
            h5{
                font-size: 2.5rem;
                font-family: "oswald", sans-serif;
                font-weight: 200;
            }
    
            p{
                font-size: 1.5rem;
                font-family: "montserrat", sans-serif;
            }
        }
    
        .secondPart{
            display: flex;
            width: fit-content;
            margin: 2rem 0 2rem 5rem;
    
            .spacer{
                width: 50%;
            }
    
            .buttons{
                width: 60em;
                margin: 0 20rem 0 5rem;
                display: flex;
                justify-content: space-between;
    
                a.button{
                    font-size: 1.5rem;
                    font-family: "oswald", sans-serif;
                    font-weight: 200;
                    text-decoration: none;
                    color: white;
                    background: #1b1b1b;
                    border-radius: 10px;
                    padding: 1rem 2rem;
                    transition: 0.2s all ease;
    
                    &:hover{
                        background: white;
                        color: teal;
                        transform: scale(1.1);
                    }
                }
    
                .socialIcons{
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
    
                    a{
                        transition: all 0.2s ease;
                        &:hover{
                            transform: scale(1.1);
    
                            i{
                                background: white;
                                color: teal;
                            }
                        }
                    }
    
                    i{
                        background: #1b1b1b;
                        padding: 1rem;
                        border-radius: 50%;
                        font-size: 2rem;
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px){

    .template{
        padding: 1rem 2rem;
        height: 100vh;
        background: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .mainPart{
            display: flex;
            width: 100%;
            flex-direction: column;

            .profilePic, .spacer{
                width: 60%;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                aspect-ratio: 1 / 1;
        
                .profile{
                    background-image: url(../img/profilePic.jpg);
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    height: 100%;
                }

                div{
                    width: 10em;
                    height: 10em;
                    border-radius: 50%;
                    //border-bottom-right-radius: 0;
                    background-position: left top;
                    background-repeat: no-repeat;
                    background-size: 150%;
                    border: 10px solid lightblue;
                    outline: 3px solid #1b1b1b;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    i{
                        font-size: 5em;
                        color: #1b1b1b;
                        -webkit-text-stroke: 5px lightblue;
                    }
        
                    .other{
                        background-image: url(../img/profile.png);
                        background-position: center center;
                    }

                }
            }

            .desc{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h5{
                    font-size: 1.5rem;
                    text-align: start;
                    font-family: "oswald", sans-serif;
                    margin: 0 0 1rem 0;
                }

                p{
                    font-size: 1.25rem;
                    text-align: start;
                    font-family: "montserrat", sans-serif;
                }
            }
        }

        .secondPart{
            display: flex;
            width: fit-content;
            width: 100%;
    
            .spacer{
                display: none;
            }
    
            .buttons{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                a.button{
                    font-size: 1.5rem;
                    font-family: "oswald", sans-serif;
                    font-weight: 200;
                    text-decoration: none;
                    color: white;
                    background: #1b1b1b;
                    border-radius: 10px;
                    padding: 1rem 2rem;
                    transition: 0.2s all ease;
    
                    &:hover{
                        background: white;
                        color: teal;
                        transform: scale(1.1);
                    }
                }
    
                .socialIcons{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 3.5rem;
                    margin: 1rem 0 0 0;
    
                    a{
                        transition: all 0.2s ease;
                        &:hover{
                            transform: scale(1.1);
    
                            i{
                                background: white;
                                color: teal;
                            }
                        }
                    }
    
                    i{
                        background: #1b1b1b;
                        padding: 1rem;
                        border-radius: 50%;
                        font-size: 2rem;
                        color: white;
                    }
                }
            }
        }
    }
}
